
/* Courses Management Section */

.courses-management {
    width: 80%;
    padding: 2rem;
    background: var(--card-bg-color);
    border-radius: 8px;
    box-shadow: var(--box-shadow);
}

.courses-management h1, .courses-management h2 {
    color: var(--primary-color);
    text-align: center;
}


/* Filtered Course Info Section */
.filtered-course-info{
    margin: 10px 0;
}
.filtered-course-info h2 {
    margin-bottom: 10px;
}

/* View Student Scores Section */
.view-student-scores{
    margin: 20px 0;
}
.view-student-scores h2 {
    margin-bottom: 10px;

}


/* Table Styles */
table{
    width: 100%;
    border-collapse: collapse;
    box-shadow: var(--box-shadow);
    margin-top: 1rem;
}

th ,td{
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid var(--input-border-color);
}

th{
    background: var(--primary-color);
    color: white;
    font-weight: bold;
}

td{
    background: var(--card-bg-color);
}



/* Form */
.add-course-form {
    background: var(--card-bg-color);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    margin-bottom: 2rem;
}

.add-course-form h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: var(--primary-color);
    top: 5px;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: var(--text-color);
}

.form-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.form-group input:focus {
    border-color: var(--input-focus-color);
    outline: none;
}

/* Buton */
.AddCourseFormButton {
    padding: 0.7rem 1.5rem;
    font-size: 0.8rem;
    color: white;
    background-color: var(--primary-color);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}



.courses-list button {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.courses-list button:hover {
    background-color: var(--accent-color);
}


.courses-list {
    margin-top: 2rem;
}
.courses-list tr:hover td{
    background: var(--hover-bg-color);
}


@media (max-width: 768px) {
    .courses-management {
        width: 100%;
        /* flex: 1; */
        padding: 2rem;
        background: var(--card-bg-color);
        border-radius: 8px;
        box-shadow: var(--box-shadow);
    }
    
    .add-course-form, .courses-management {
        padding: 1rem;
    }

    .form-group input {
        font-size: 0.9rem;
    }


    button {
        font-size: 0.8rem;
        padding: 0.5rem 1rem;
    }
    table {
        font-size: 0.9rem; 
        display: block;
    }

    th, td {
        padding: 0.5rem; 
    }

    th {
        font-size: 1rem; 
    }
}

@media (max-width:630px){
    .courses-management{
        padding: 0px;
    }
    th ,td {
        padding: 5px;

    }
    .add-course-form{
        padding: 5px;

    }
    .form-group input{
        padding: 5px;

    }
    button{
        padding: 8px 5px;

    }
    label {
        padding: 0 10px;
    }

}

@media (max-width: 440px) {
    table {
        overflow-x: auto; 
        -webkit-overflow-scrolling: touch; 
        margin-top: 1rem;
        border-collapse: collapse;

    }
    th, td {
        padding: 1rem;
        text-align: left;
        border-bottom: 1px solid var(--input-border-color);
    }
    
    th {
        background: var(--primary-color);
        color: white;
        font-weight: bold;
    }
    
    td {
        background: var(--card-bg-color);
    }
   
}


@media (max-width: 580px) {

    .courses-list button {
        padding: 8px;
        margin: 5px;
    }
    .AddCourseFormButton {
        padding: 8px;
        margin: 5px;
    }
}


@media (max-width: 520px) {
    .view-student-scores th {
        font-size: 0.6rem;
    }


}


@media (max-width:420px){

    .courses-management{
        padding: 2px;
    }
    th ,td {
        padding: 2px;

    }
    .add-course-form{
        padding: 2px;

    }
    .form-group input{
        padding: 2px;

    }
    button{
        padding: 2px;

    }
    label {
        padding: 2px 0;
    }

}